body {
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
}
.container {
    border: 1px solid #e6e6e6;
    background-color: white;
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    border: 1px solid #e6e6e6;
    background-color: white;
    width: 350px;
    height: 70px;
    margin: 10px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.text_logo {
    width: 180px;
    margin: 30px;
}


.bt {
    background-color: #47a2ed;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 0px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 10px 0;
    opacity: 0.5;
}

.or {
    color: #d6d6d6;
    font-size: 14px;
}

.otherLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.left_line, .right_line {
    width: 100px;
    border-bottom: 1px solid #d6d6d6;
    margin: 20px 0;
}

.contents {
    margin: 0 50px 0 40px;
}
.email, .pw {
    width: 100%;
    height: 35px;
    font-size: 12px;
    color: gray;
    background-position: 5px center;
    padding: 0 0 0 10px;
    margin-bottom: 6px;
}


.email_click, .pw_click {
    width: 100%;
    height: 35px;
    font-size: 12px;
    color: gray;
    background-position: 5px center;
    padding: 0 0 0 10px;
    margin-bottom: 6px;
}


.fb {
    color: 	#3b5998;
    text-align: center;
}

.fb_logo {
    width: 20px;
    margin: 0 10px 0 0;
}

.facebook {
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot {
    font-size: 12px;
    margin: 10px 0;
}


input {
    background-color: #f9f9f9;
    border-radius: 2px;
    border: 1px solid  #f2f2f2;
}

::placeholder {
    color: gray;
}

.account, .app {
    font-size: 14px;
    color: black;
}

.login {
    color: #4287f5;
    text-decoration: none;
    font-weight: 600;
}

.account {
    font-weight: 300;
}

.app {
    margin: 15px 0;
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.playstore_bt, .appstore_bt {
    width: 150px;
}

.footer_left { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    font-size: 12px;
    margin: 0 6px;
    color: #003569;
    font-weight: bold;   
}

.footer_right {
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    width: 1000px;
}