body {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: scroll;
}

.nav {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 160px;
    background-color: white;
    z-index: 1;
    }


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo_img {
    width: 25px;
}


.line {
    border-left: 1px solid black;
    width: 10px;
    height: 27px;
    margin: 0 0 0 18px;
}


.logo_text {
    width: 100px;
    padding: 5px 0 0 5px;
}


.search {
    width: 215px;
    height: 28px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #F9F9F9; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.ic_search {
    width: 13px;
}

span {
    color: #e3e3e3;
    font-size: 14px;
    padding: 0 0 0 5px;
}

.nav_icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}


.item1, .item2, .item3 {
    width: 25px;
    padding: 15px;
}


.main {
    background-color: #F9F9F9;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.feeds {
    border: 1px solid #dbdbdb;
    width: 600px;
    height: auto;
    top: 50px;
    position: relative;
    background-color: white;
    border-radius: 3px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}


.feeds_profile {
    width: 600px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 20px;
}

.circle {
    width: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.name {
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-left: 12px;
}

.dots {
    width: 25px;
    padding: 13px 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.feeds_img {
    width: 600px;
    height: auto;
}

.feeds_icons {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.ic_comment, .ic_share, .ic_bookmark {
    width: 25px;
    padding: 5px;
}
.ic_heart {
    padding: 5px 5px 5px 10px;
    width: 25px;
}


.ic_bookmark {
    padding: 0 10px 0 0;
}

.feeds_like {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 17px;
}

.like_profile {
    width: 25px;
    border-radius: 50%;
}


.like_comment {
    font-size: 15px;
    color: black;
    margin-left: 5px;
}


.feeds_cm {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

.cm {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 10px;
}

.re_cm {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 5px;
}

.cm_id {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.cm_id2 {
    font-size: 15px;
    font-weight: bold;
    color: black;
}


.cm_cm {
    font-size: 15px;
    color: black;
    padding-left: 5px;
}


.cm_more {
    font-size: 15px;
    color: gray;
    padding-left: 5px;
}


.hashtag {
    color: #222d3b;
}


.time {
    font-size: 12px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.write-comments {
    width: 540px;
    height: 50px;
    font-size: 14px;
    color: gray;
    border: 0;
    padding-left: 15px;
}


.upload {
    font-size: 14px;
    color: #2A85F9;
    opacity: 0.5;
    border: 0;
    outline: none;
}

.comment_box {
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
}


.right {
    width: 300px;
    height: 600px;
    margin: 0px 10px;
    top: 50px;
    position: relative;
}


.right_profile {
    width: 50px;
    border-radius: 50%;
}

.name, .name2 {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.name3 {
    padding-left: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}


.main_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.story {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 3px;
    padding: 3px;
    margin-top: 20px;
}

.recommend {
    position: relative;
    width: 300px;
    height: 190px;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 3px;
    padding: 3px;
    margin-top: 20px;
}


.story_title, .rec_title {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}


.rec_profile_scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}


.profile_scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    overflow: scroll;
    padding-bottom: 5px;
    padding-top: 10px;
}


.profile_icon_story, .rec_profile_story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}


.text {
    font-size: 14px;
    color: gray;
    margin: 15px;
}

.all {
    font-size: 12px;
    color: black;
    margin: 15px;
}

.sub {
    color: gray;
    font-size: 12px;
    margin: 0;
}

.uploadStoryTime {
    color: gray;
    font-size: 9px;
    margin: 0;
}

.follow {
    color: #2A85F9;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.sub_follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
}


.id_sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

footer {
    width: 300px;
    height: 150px;
    color: #c8c8c8;
    font-size: 14px;
    margin: 10px 0 0 0;
}